html {
  overflow: hidden;
}

.fragment {
  width: 2px;
  height: 30;
  background-color: #707070;
  border-left: 1px solid #271f29;
  cursor: pointer;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  border: 1px #707070;
}
#audio {
  width: 100%;
  height: 20px;
}
button {
  width: 50px;
  height: 50px;
  background-color: #130f14;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  border: 0;
}
button img {
  width: 40px;
  height: 40px;
  outline: none;
}
#control {
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  background-color: #130f14;
}
#time,
.time {
  display: flex;
  justify-content: center;
  font-size: 13px;
  height: auto;
  color: #ababab;
  font-family: "Source Sans Pro";
  padding: 0 15 5 15;
  align-items: center;
}
body {
  position: relative;
  overflow: hidden;
  background-color: #130f14;
  margin: 0;
  height: 100%;
}
#container,
#mobileContainer,
#mobileTitle {
  position: absolute;
  width: 100%;
}
#container {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: center;
  background-color: #130f14;
}
#mobileContainer {
  padding: 15 0 5 0;
  box-shadow: 0px -5px 6px #00000029;
  background-color: #130f14;
  bottom: 32;
  padding-bottom: 15;
  display: block;
}
#mobileTitle {
  padding-top: 5px;
  bottom: 70;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  background-color: #130f14;
}
#background {
  position: absolute;
  left: -30;
  top: -30;
  width: 120%;
  height: auto;
  opacity: 1;
  z-index: -1;
  -webkit-filter: blur(3px);
}
.svg {
  width: 20px;
  height: 20px;
}
h1 {
  font-family: "Open Sans", sans serif;
  font-size: 16px;
  text-align: center;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #ababab;
  text-align: center;
}
#airbit {
  width: 250px;
  border-radius: 50%;
  height: auto;
  opacity: 0.5;
  margin-top: 50px;
}
#infos {
  text-align: center;
  display: block;
}
#avatar {
  background-color: #175465;
  margin: 15px;
  width: 60px;
  height: 60px;
  background-image: url("avatar.png");
  background-size: 100% auto;
}
#musicName,
#artistName,
#mobileMusicName {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80px;
  white-space: nowrap;
  font-family: "Source Sans Pro";
}
#mobileMusicName {
  width: 200px;
  text-align: center;
}
#musicName,
#mobileMusicName {
  color: #8e3eae;
  font-weight: bold;
  font-size: 14px;
  margin: auto 0 5 0;
}
#artistName {
  color: #787878;
  text-transform: uppercase;
  font-size: 14px;
  margin: 5 0 auto 0;
}

#buyButton {
  width: 80px;
  height: 40px;
  padding: 10px 10px 10px 36px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  color: white;
  background: #8e3eae url("../media/shopping.svg") 10px 10px no-repeat;
  background-size: 20px 20px;
  border-radius: 5px;
}
#avatarWrapper {
  display: flex;
  align-items: center;
  margin-right: auto;
}
#playerLeftPart {
  display: flex;
}
#playerRightPart {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 170px;
}
#playerLeftPart {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 170px;
}

#mobileContent {
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}
#album {
  display: block;
  align-items: center;
}
#desktopWaveForm {
  display: flex;
}
#mobileContainerHeader {
  border-radius: 6px;
  background-color: #747474;
  width: 101px;
  height: 12px;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}
#barContainer {
  position: absolute;
  width: 100%;
  padding: 15 5 5 5;
  display: flex;
  align-items: center;
  bottom: 95px;
  background-color: #130f14;
}

#seekBar {
  background-color: #747474;
  width: calc(100% - 120px);
  height: 5px;
  border-radius: 10px;
}

#progress {
  background-color: #8f38b1;
  width: 0px;
  height: 5px;
  border-radius: 10px;
}
#barTime,
#barDuration {
  padding-top: 0;
  padding-bottom: 0;
}
#barControl {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: white;
  position: relative;
  top: -4px;
  left: 0;
}
#barPlayer {
  display: flex;
  width: 100%;
  background-color: #130f14;
  height: 17px;
  opacity: 1;
  align-items: center;
  margin-left: -5px;
}
@media only screen and (max-device-width: 490px) {
  #album, #buyButton {
    display: none;
  }
  #more{
    position: absolute;
    right:0;
  }
}